<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grocery - Add Category</title>
    <style>
        *{
            background-color: rgb(246, 247, 248);
        }
    </style>
</head>
<body>
    <header>
        <h1>Grocery App</h1>
    </header>
    <form method="POST">
        <h2>Add Category</h2>
        name:<input type="text"  name="name"><br><br>
        <button type="submit">Add Category</button>
    </form>
</body>
</html>
