<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <style>
        *{
            background-color: rgb(171, 217, 240);
        }
        nav{
            background-color: black;
        }
        nav li {
             display: inline-block;
             margin: 0 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Grocery Admin Portal</h1>
    </header>
    <form method = "POST">
        <h2>Register as Admin</h2>
        Username:<input type="text"  name="username"><br><br>
        Password: <input type="password" name="password" required><br><br>
        Email:<input type="email"  name="email" required>
        <button type="submit">Register</button>
    </form>
</body>
</html>
