<!DOCTYPE html>
<html>
    <head>
        <title>
            Sucess
        </title>
        <style>
            *{
                background-color: rgb(241, 245, 247);
            }
            h1{
                text-align: center;
                font-size: medium;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            h2{
                text-align: center;
                font-size: medium;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>
            Are you sure to delete this Product
        </h1>
        <h2>
            <a href="/product/{{k_id}}/delete">
                Yes
            </a>
        </h2>
        <h2><a href="/admin_dashboard">Go back</a></h2>
    </body>
</html>