<!DOCTYPE html>
<html>
<head>
    <title>Grocery app Login</title>
    <style>
        *{
            background-color: rgb(241, 244, 245);
        }
        nav{
            background-color: black;
        }
        nav li {
             display: inline-block;
             margin: 0 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Grocery App</h1>
    </header>
    <form method = "POST">
        <h2>Login</h2>
        user Username: <input type="text"  name="username" required><br><br>
        user Password: <input type="password"  name="password" required><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
