<!DOCTYPE html>
<html>
    <head>
        <title>
            Search
        </title>
        <style>
            *{
                background-color: rgb(202, 235, 248);
            }
            nav{
                background-color: black;
            }
            nav li {
                 display: inline-block;
                 margin: 0 5px;
            }
        </style>
    </head>
    <body>
        <form method="POST">
            <input type="text" placeholder="Search..." name="search"><br>
            <button type="submit">Search</button>
          </form>          
    </body>
</html>