<!DOCTYPE html>
<html>
    <head>
        <title>
            Adding unsuccesful
        </title>
        <style>
            *{
                background-color: rgb(174, 241, 178);
            }
            h1{
                text-align: center;
                font-size: medium;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            h2{
                text-align: center;
                font-size: medium;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>
            Product can not be added bacause the product is already out of stock. 
        </h1>
        <h2>
            <a href = '/user_dashboard'>
                Go back
            </a>
        </h2>
    </body>
</html>