<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
    <style> 
*
{
  background-color: rgb(158, 208, 224);
}
</style>
</head>
<body>
	<h1>Purchased Product List</h1>
  <h3><a href="/user_dashboard">Home</a></h3>
    <p>Here are the details of purchased products</p>
  {% if get_purchased_product==[]%}
   No Purchased Products found.
  {%else%}
	<table border = "1">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Customer Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Address</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for k in get_purchased_product%}
              <tr>
                  <td>{{loop.index}}</td>
                  <td>{{k.product_id}}</td>
                  <td>{{k.product_name}}</td>
                  <td>{{k.name}}</td>
                  <td>{{k.mobile}}</td>
                  <td>{{k.email}}</td>
                  <td>{{k.address}}</td>
                  <td>{{k.quantity}}</td>
                  <td>{{k.total_amount}}</td>
              </tr>
          {% endfor %}
        </tbody>
    </table>        
{%endif%}
</body>
</html>