<!DOCTYPE html>
<html>
<head>
    <title>Ratings Form</title>
    <style>
        *{
            background-color: rgb(247, 248, 249);
        }
        nav{
            background-color: black;
        }
        nav li {
             display: inline-block;
             margin: 0 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Add Product Form</h1>
    </header>

    <form  method="POST">
        Rating: <input type="number"  name="rating"><br<br>
        Feedback: <input type="text" name="feedback"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>