<!DOCTYPE html>
<html>
    <head>
        <title>
            Unsuccessful login
        </title>
        <style>
            *{
                background-color: rgb(252, 254, 255);
            }
            h1{
                text-align: center;
                font-size: medium;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            h2{
                text-align: center;
                font-size: medium;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>
            Login failed
        </h1>
        <h2>
            <a href = '/'>
                Go back
            </a>
        </h2>
    </body>
</html>